<link rel="stylesheet" href="/css/jumbotron.css">

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Welcome to The Tech Blog!</h1>
        <p>Whether you're a tech enthusiast, a seasoned professional, or someone who simply loves to stay informed about
            the digital landscape, our blog is the perfect destination for you. We cover a wide range of topics,
            including cutting-edge gadgets, software updates, artificial intelligence, cybersecurity, and much more.</p>
    </div>
</div>

{{> display-posts posts=posts}}
